<!DOCTYPE html>
<html>
<head>
  <link rel="icon" type="image/png" href="/path/to/funky-icon.png">
  <title>Maia's Web Site Home Page</title>
  <style>
    /* Add some style to the homepage */
    body {
      background-color: papayawhip;
      font-family: 'Comic Sans MS', sans-serif;
    }
    h1 {
      color: rebeccapurple;
      text-align: center;
    }
    nav {
      display: flex;
      justify-content: space-around;
      align-items: center;
      background-color: rgb(54, 1, 92);
      color: white;
      font-size: 1.5em;
    }
    a {
      text-decoration: none;
      color: white;
      transition: color 0.2s ease;
    }
    a:hover {
      color: lightpink;
    }
  </style>
</head>
<body>
  <h1>Welcome to My Homepage!</h1>
  <nav>
    <a href="/page1.html"><span>Page 1</span></a>
    <a href="/page2.html"><span>Page 2</span></a>
    <a href="/page3.html"><span>Page 3</span></a>
    <a href="/page4.html"><span>Page 4</span></a>
    <a href="/page5.html"><span>Page 5</span></a>
  </nav>
</body>
</html>